body {
    background: white;
    color:black;
}

.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed; /*So that our navbar is stayed always.*/
    width:100%;
    height:80px;
    z-index: 7;
  }

  .nav-menu{
    display: flex;  
  }
  .nav-menu li{
  
    padding:0, 1rem; 
    margin: 10px;                /* NEW */
  }
  
  .nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
  }